## 1 - Carregar os arquivos de cadastro, investimento1 e investimento2, e mostrar a quantidade de linhas de cada um, além das informações desses dataframes (por exemplo, o tipo dos dados das coluna)

In [1]:
import pandas as pd

cadastro= pd.read_csv('https://raw.githubusercontent.com/renatapink/DSdegree/master/Modulo2/Mini_projeto1/cadastro.csv')
cadastro.shape

(38754, 9)

In [2]:
cadastro.columns

Index(['id', 'Nome', 'Sexo', 'Nasc', 'Idade', 'Email', 'Lat_long', 'Job',
       'Estado'],
      dtype='object')

In [3]:
investimento1= pd.read_csv('https://raw.githubusercontent.com/renatapink/DSdegree/master/Modulo2/Mini_projeto1/investimento_parte1.csv')
investimento1.shape

(20000, 12)

In [4]:
investimento1.columns

Index(['id', 'Salario', 'Perfil', 'Ativo01', 'Ativo02', 'Ativo03', 'Ativo04',
       'Ativo05', 'Ativo06', 'Ativo07', 'Nota1', 'Nota2'],
      dtype='object')

In [5]:
investimento2= pd.read_csv('https://raw.githubusercontent.com/renatapink/DSdegree/master/Modulo2/Mini_projeto1/investimento_parte2.csv')
investimento2.shape

(24052, 12)

In [6]:
investimento2.columns

Index(['id', 'Salario', 'Perfil', 'Ativo01', 'Ativo02', 'Ativo03', 'Ativo04',
       'Ativo05', 'Ativo06', 'Ativo07', 'Nota1', 'Nota2'],
      dtype='object')

## 2 - Juntar os dataframes de investimento1 e investimento2 em um só e ver a quantidade de linhas

In [7]:
investimento= pd.concat([investimento1, investimento2])
investimento.shape

(44052, 12)

## 3 - Crie um novo dataframe eliminando as linhas duplicadas do item anterior

In [8]:
investimento= investimento.drop_duplicates()

In [9]:
investimento

,id,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0011529,$2.25,Agressivo,1311.38,NaN,NaN,29267.48,4993.30,NaN,506.40,73.007216,30.025005
1,id0030644,$24.57,Agressivo,1007.38,4846.66,2717.82,12532.15,4282.98,NaN,499.93,20.000123,29.477728
2,id0019311,$367.53,Moderado,1128.99,4668.94,3092.60,9777.77,4246.30,2007.83,509.50,24.901450,49.659852
3,id0036705,$23.26,Moderado,1185.26,4782.17,2669.05,14047.87,6026.84,2064.09,489.82,14.246718,29.271206
4,id0001368,$6.31,Conservador,957.64,5585.52,NaN,5067.08,4030.51,2022.61,507.39,5.922253,11.840601
...,...,...,...,...,...,...,...,...,...,...,...,...
24046,id0012328,$86268.66,Moderado,804.92,4520.13,3388.55,18396.16,NaN,NaN,504.90,97.685833,70.195608
24048,id0005515,$212.76,Conservador,1624.80,NaN,2689.68,21886.01,4571.79,NaN,497.47,93.032164,93.621515
24049,id0009893,$9.32,Agressivo,829.20,NaN,3831.45,NaN,4784.34,2143.79,485.33,3.120521,9.086454
24050,id0016100,$81796.74,Conservador,1587.47,4881.66,4352.03,10391.18,4695.44,2465.65,492.84,95.665966,30.164927
24051,id0027880,$38480.37,Agressivo,996.90,5604.43,2801.04,9183.62,6220.96,NaN,503.24,55.035639,57.691996

## 4 - Junte o dataframe de investimento com o de cadastro, criando um novo dataframe¶

In [10]:
df_novo= pd.merge(cadastro,investimento, on='id', how='left')

In [11]:
df_novo

,id,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
0,id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,NaN,4480.91,2329.72,480.72,79.600372,9.802620
1,id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,NaN,5624.22,2669.98,504.17,44.406893,90.512871
2,id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,NaN,5033.83,2229.45,523.12,44.020024,65.060941
3,id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,NaN,5258.69,3723.10,NaN,5933.91,NaN,486.05,25.597924,86.548918
4,id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Fem,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,$4993.49,Moderado,1001.01,5561.55,NaN,8454.99,NaN,2191.78,489.76,66.644257,6.462871
38750,id0038751,Juan dos Santos,Masc,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,$41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030
38751,id0038752,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,$32.41,Agressivo,1163.90,4911.63,3746.62,NaN,6733.79,2338.43,504.32,32.139610,22.742974
38752,id0038753,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,$914.52,Conservador,NaN,5532.35,2861.32,NaN,4921.77,2024.00,500.65,98.385080,56.611838
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,$29076.19,Moderado,981.62,4825.10,NaN,18085.88,5161.07,2257.66,507.95,29.660050,47.371606

## 5 - Ordene o dataframe pelo id, de forma crescente e redefina o índice

In [12]:
df_ordenado = df_novo.sort_values('id')

In [13]:
df_ordenado=df_ordenado.rename(columns={'id':'Índice'})

In [14]:
df_ordenado.set_index('Índice')

,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Salario,Perfil,Ativo01,Ativo02,Ativo03,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2
Índice,,,,,,,,,,,,,,,,,,,
id0000001,Eunice Hellen do Vale,Fem,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,$63.67,Moderado,1174.27,4980.98,2638.24,NaN,4480.91,2329.72,480.72,79.600372,9.802620
id0000002,Sebastião Castelo Branco Júnior,Masc,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,$21.96,Moderado,842.12,5646.09,3336.07,NaN,5624.22,2669.98,504.17,44.406893,90.512871
id0000003,Romildo Fábio de Carvalho,Masc,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,$62497.64,Agressivo,818.81,5516.52,3396.64,NaN,5033.83,2229.45,523.12,44.020024,65.060941
id0000004,Lana Albina de Lemos Mumy,Fem,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,$99878.74,Agressivo,NaN,5258.69,3723.10,NaN,5933.91,NaN,486.05,25.597924,86.548918
id0000005,Rose Elisângela Vyrnium de Moura,Fem,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,$188.01,Conservador,1505.16,6415.30,3462.67,30841.35,6044.86,2198.89,512.98,14.463307,33.566292
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
id0038750,Beatriz Maísa de Miranda Milani,Fem,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,$4993.49,Moderado,1001.01,5561.55,NaN,8454.99,NaN,2191.78,489.76,66.644257,6.462871
id0038751,Juan dos Santos,Masc,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,$41218.63,Moderado,1532.51,5102.84,3097.50,11243.08,4692.11,2368.93,496.02,96.987294,72.333030
id0038752,Severino Edson de Viana Loase,Masc,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,$32.41,Agressivo,1163.90,4911.63,3746.62,NaN,6733.79,2338.43,504.32,32.139610,22.742974
id0038753,Kim Mooshi,Masc,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,$914.52,Conservador,NaN,5532.35,2861.32,NaN,4921.77,2024.00,500.65,98.385080,56.611838
id0038754,Vinícius Arnaldo de Pereira Mendes,Masc,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,$29076.19,Moderado,981.62,4825.10,NaN,18085.88,5161.07,2257.66,507.95,29.660050,47.371606


## 6 - Faça uma análise dos dados faltantes e trate-os

In [15]:
total= df_ordenado.isnull().sum().sort_values(ascending=False)
porcentagem= (df_ordenado.isnull().sum()/df_ordenado.isnull().count()).sort_values(ascending=False)
dados_faltantes= pd.concat([total, porcentagem], axis=1, keys=['Total','Porcentagem'])
dados_faltantes

          Total  Porcentagem
Ativo06   19514     0.503535
Ativo04   11887     0.306730
Ativo01    9724     0.250916
Ativo05    6191     0.159751
Ativo03    6169     0.159184
Ativo02    6100     0.157403
Nota1      3000     0.077411
Nota2      2000     0.051608
Nome          0     0.000000
Ativo07       0     0.000000
Índice        0     0.000000
Salario       0     0.000000
Estado        0     0.000000
Job           0     0.000000
Lat_long      0     0.000000
Email         0     0.000000
Idade         0     0.000000
Nasc          0     0.000000
Sexo          0     0.000000
Perfil        0     0.000000

A estratégia adotada para lidar com os dados faltantes Ativo01, Ativo02, Ativo03, Ativo04, Ativo05, Ativo06 será a média deles, todas as colunas onde podemos observar seram preenchidas com essa média apartir de cada perfil.

In [16]:
df_conservador= df_ordenado.loc[df_ordenado['Perfil']=='Conservador']

In [17]:
df_moderado= df_ordenado.loc[df_ordenado['Perfil']=='Moderado']

In [18]:
df_agressivo= df_ordenado.loc[df_ordenado['Perfil']=='Agressivo']

Preenchendo os dados faltantes do perfil conservador

In [19]:
df_conservador['Ativo01'].fillna(value=df_conservador['Ativo01'].mean(), inplace=True)

C:\Users\Rafael_Uzumaki\anaconda3\lib\site-packages\pandas\core\series.py:4463: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [20]:
df_conservador['Ativo02'].fillna(value=df_conservador['Ativo02'].mean(), inplace=True)

In [21]:
df_conservador['Ativo03'].fillna(value=df_conservador['Ativo03'].mean(), inplace=True)

In [22]:
df_conservador['Ativo04'].fillna(value=df_conservador['Ativo04'].mean(), inplace=True)

In [23]:
df_conservador['Ativo05'].fillna(value=df_conservador['Ativo05'].mean(), inplace=True)

In [24]:
df_conservador['Ativo06'].fillna(value=df_conservador['Ativo06'].mean(), inplace=True)

Preenchendo os dados faltantes de perfil moderado

In [25]:
df_moderado['Ativo01'].fillna(value=df_moderado['Ativo01'].mean(), inplace=True)

In [26]:
df_moderado['Ativo02'].fillna(value=df_moderado['Ativo02'].mean(), inplace=True)

In [27]:
df_moderado['Ativo03'].fillna(value=df_moderado['Ativo03'].mean(), inplace=True)

In [28]:
df_moderado['Ativo04'].fillna(value=df_moderado['Ativo04'].mean(), inplace=True)

In [29]:
df_moderado['Ativo05'].fillna(value=df_moderado['Ativo05'].mean(), inplace=True)

In [30]:
df_moderado['Ativo06'].fillna(value=df_moderado['Ativo06'].mean(), inplace=True)

Preenchendo os dados faltantes do agressivo

In [31]:
df_agressivo['Ativo01'].fillna(value=df_agressivo['Ativo01'].mean(), inplace=True)

In [32]:
df_agressivo['Ativo02'].fillna(value=df_agressivo['Ativo02'].mean(), inplace=True)

In [33]:
df_agressivo['Ativo03'].fillna(value=df_agressivo['Ativo03'].mean(), inplace=True)

In [34]:
df_agressivo['Ativo04'].fillna(value=df_agressivo['Ativo04'].mean(), inplace=True)

In [35]:
df_agressivo['Ativo05'].fillna(value=df_agressivo['Ativo05'].mean(), inplace=True)

In [36]:
df_agressivo['Ativo06'].fillna(value=df_agressivo['Ativo06'].mean(), inplace=True)

E a estrategia adotada para os dados Nota1, Nota2 será a média pela porcetangem de ser muito baixa.

In [37]:
df_novo1= pd.concat([df_conservador,df_moderado,df_agressivo])
df_novo2=df_novo1.sort_values('Índice')

In [38]:
df_novo2['Nota1'].fillna(df_novo2['Nota1'].mean(), inplace=True)

In [39]:
df_novo2['Nota2'].fillna(df_novo2['Nota2'].mean(), inplace=True)

## 7 - Manipule os dados a seguir:
Criar coluna "Total" somando o valor de todos os ativos por investidor

In [40]:
df_novo2['Total']= df_novo2['Ativo01']+df_novo2['Ativo02']+df_novo2['Ativo03']+df_novo2['Ativo04']+df_novo2['Ativo05']+df_novo2['Ativo06']+df_novo2['Ativo07']

Criar coluna "Media" com a média das notas 1 e 2

In [41]:
df_novo2['Média']= (df_novo2['Nota1'] + df_novo2['Nota2'])/2

Criar coluna "Dominio" com apenas o domínio do email (dica: separar por @)

In [42]:
df_novo2['Dominio']= df_novo2['Email'].str.split('@').str.get(1)

Mudar o nome da coluna "Salário" para "Renda" e tratar a coluna (sem caracter $ e tipo numérica)

In [43]:
df_novo2.rename(columns={'Salario': 'Renda'}, inplace=True)

In [44]:
df_novo2['Renda']= df_novo2['Renda'].str.replace('$', '')

<ipython-input-44-e5b1adab09a8>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_novo2['Renda']= df_novo2['Renda'].str.replace('$', '')

In [45]:
pd.to_numeric(df_novo2['Renda'])

0           63.67
1           21.96
2        62497.64
3        99878.74
4          188.01
           ...
38749     4993.49
38750    41218.63
38751       32.41
38752      914.52
38753    29076.19
Name: Renda, Length: 38754, dtype: float64

Mudar os dados da coluna "Sexo" para Masculino e Feminino (tente usar a função map)

In [46]:
def sex(sexo):
    if sexo == 'Masc':
        sexo='Masculino'
    elif sexo =='Fem':
        sexo='Feminino'
    return sexo

In [47]:
df_novo2['Sexo']= df_novo2['Sexo'].map(sex)

Transformar os dados da coluna Media em inteiro

In [48]:
df_novo2['Média']= df_novo2['Média'].astype(int)

Criar coluna "NPS" onde o investidor é classificado como promotor se a média das notas é maior ou igual a 80, como neutro se a média estiver entre 50 e 80, e como detrator se for abaixo de 50

In [49]:
def classificador(num):
    if num > 80 or num == 80:
        num = 'promotor'
    elif num < 80 and num > 50:
        num = 'neutro'
    elif num <=50:
        num = 'detrator'
    return num

In [50]:
df_novo2['NPS']= df_novo2['Média'].map(classificador)

## 8 - Calcule os seguintes dados

Calcule o total investido em cada coluna Ativo (tente usar o apply)

In [51]:
total=df_novo2['Ativo01'].sum()
print(total)

43727577.88763133

In [52]:
total=df_novo2['Ativo02'].sum()
print(total)

199478484.76932663

In [53]:
total=df_novo2['Ativo03'].sum()
print(total)

121703795.23940808

In [54]:
total=df_novo2['Ativo04'].sum()
print(total)

587263521.7666942

In [55]:
total=df_novo2['Ativo05'].sum()
print(total)

204780858.22564092

In [56]:
total=df_novo2['Ativo06'].sum()
print(total)

89889280.07613346

In [57]:
total=df_novo2['Ativo07'].sum()
print(total)

19379032.72

Qual o menor valor investido em cada ativo?

In [58]:
df_novo2['Ativo01'].min()

800.01

In [59]:
df_novo2['Ativo02'].min()

4500.05

In [60]:
df_novo2['Ativo03'].min()

2500.01

In [61]:
df_novo2['Ativo04'].min()

5000.81

In [62]:
df_novo2['Ativo05'].min()

4000.14

In [63]:
df_novo2['Ativo06'].min()

2000.04

In [64]:
df_novo2['Ativo07'].min()

462.93

Mostre a média e desvio padrão de cada ativo

In [65]:
df_novo2['Ativo01'].mean()

1128.3371493945572

In [66]:
df_novo2['Ativo01'].std()

189.39132806837256

In [67]:
df_novo2['Ativo02'].mean()

5147.3005307662215

In [68]:
df_novo2['Ativo02'].std()

365.95908540752885

In [69]:
df_novo2['Ativo03'].mean()

3140.41893067585

In [70]:
df_novo2['Ativo03'].std()

362.85507756774524

In [71]:
df_novo2['Ativo04'].mean()

15153.623413498892

In [72]:
df_novo2['Ativo04'].std()

5805.289652565868

In [73]:
df_novo2['Ativo05'].mean()

5284.121851309152

In [74]:
df_novo2['Ativo05'].std()

728.90712829182

In [75]:
df_novo2['Ativo06'].mean()

2319.4839262052265

In [76]:
df_novo2['Ativo06'].std()

169.5830196475851

In [77]:
df_novo2['Ativo07'].mean()

500.05245187593835

In [78]:
df_novo2['Ativo07'].std()

9.998218104115894

Qual o nome e a idade do investidor mais velho?

In [79]:
df_novo2['Idade'].max() # como pode observar os investidores mais velhos possuem 51 anos

51

In [80]:
df_mais_velhos=df_novo2.loc[df_novo2['Idade'] >50]

In [81]:
df_mais_velhos[['Nome','Idade']]

                                             Nome  Idade
0                           Eunice Hellen do Vale     51
30                 Jeniffer Vanessa de Fraga Rata     51
58                                   Emanoel Uion     51
87                     Ronaldo da Silva do Paraná     51
135                             Danilo da Paraíba     51
...                                           ...    ...
38478             Yeda Rosângela Rodrigues Torres     51
38521                         Otto Victor Eirnige     51
38544  Marta Arlete Schneider Marques de Iglesias     51
38626                        Marina Fátima Guerra     51
38630                     Gilmar Jefason de Lemes     51

[774 rows x 2 columns]

Qual a mediana da coluna Média?

In [82]:
df_novo2['Média'].median()

49.0

## 9 - Responder as perguntas abaixo

Quantos investidores são agressivos, moderados e conservadores?

In [83]:
df_conservador.shape

(12879, 20)

In [84]:
df_moderado.shape

(12900, 20)

In [85]:
df_agressivo.shape

(12975, 20)

Mostre os 10 primeiros ids dos investidores de perfil Agressivo e Moderado.

In [86]:
df_moderado['Índice'].head(10)

0     id0000001
1     id0000002
6     id0000007
10    id0000011
14    id0000015
18    id0000019
21    id0000022
23    id0000024
25    id0000026
31    id0000032
Name: Índice, dtype: object

In [87]:
df_agressivo['Índice'].head(10)

2     id0000003
3     id0000004
5     id0000006
7     id0000008
8     id0000009
9     id0000010
11    id0000012
13    id0000014
15    id0000016
19    id0000020
Name: Índice, dtype: object

Quantos investidores são do sexo feminino?

In [88]:
df_fem= df_novo2.loc[df_novo2['Sexo']=='Feminino']
df_fem.shape

(19385, 24)

Quantos investidores investiram mais de 16000 no Ativo04?

In [89]:
df_novo2.loc[df_novo2['Ativo04'] > 16000]

,Índice,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,...,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Média,Dominio,NPS
4,id0000005,Rose Elisângela Vyrnium de Moura,Feminino,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,...,30841.35,6044.860000,2198.890000,512.98,14.463307,33.566292,50981.210000,24,yahoo.com,detrator
6,id0000007,Andressa de Menezes,Feminino,2000-03-09,21,pdouglas@yahoo.com,"(Decimal('-15.3220025'), Decimal('-143.141478'))",Learning mentor,RO,9.26,...,22760.80,6342.310000,2450.480000,490.12,11.933962,29.765772,41269.630000,20,yahoo.com,detrator
7,id0000008,Roger da Silva,Masculino,2012-12-04,9,idavis@hotmail.com,"(Decimal('26.852207'), Decimal('154.834424'))",Garment/textile technologist,RS,1.13,...,16247.26,5291.529534,2282.500000,496.43,76.898096,43.554774,33182.963677,60,hotmail.com,neutro
8,id0000009,Paulo de Toledo,Masculino,1996-12-05,25,raymonderic@gmail.com,"(Decimal('6.098341'), Decimal('-156.689139'))","Designer, exhibition/display",DF,557.91,...,18690.63,5040.740000,2777.620000,500.43,45.322387,62.157044,36243.200000,53,gmail.com,neutro
9,id0000010,Quirino Max dos Santos,Masculino,1974-02-08,47,patrick65@yahoo.com,"(Decimal('37.9226295'), Decimal('30.582043'))",Air broker,RR,801.24,...,21298.94,4818.910000,2027.570000,500.59,53.824813,10.415551,38033.850000,32,yahoo.com,detrator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38738,id0038739,Celina Faeima,Feminino,1981-12-04,40,garyluna@gmail.com,"(Decimal('44.091570'), Decimal('73.962037'))","Conservation officer, nature",AP,63.99,...,17078.58,4830.440000,2321.031421,500.59,0.396150,52.045951,34545.091421,26,gmail.com,detrator
38741,id0038742,Érica Suzy Raeoã,Feminino,2000-06-01,21,elizabethrobinson@gmail.com,"(Decimal('2.8160925'), Decimal('-49.085082'))",Energy engineer,AL,14.35,...,17170.42,4283.660000,2321.362143,501.33,93.844274,50.075481,33252.092143,71,gmail.com,neutro
38745,id0038746,Paula de Lemes,Feminino,1992-08-06,29,reynoldsjennifer@gmail.com,"(Decimal('-62.8648515'), Decimal('-177.577584'))",Trade union research officer,RJ,487.06,...,19323.07,6605.230000,2164.760000,510.60,63.315414,50.381290,38693.130000,56,gmail.com,neutro
38748,id0038749,Martin Mike Ocai,Masculino,1988-11-29,33,walshshelley@yahoo.com,"(Decimal('-7.399055'), Decimal('125.807816'))",Ranger/warden,MT,7172.41,...,17341.08,4866.520000,2049.560000,498.69,52.664288,73.101865,33625.594047,62,yahoo.com,neutro
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masculino,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,29076.19,...,18085.88,5161.070000,2257.660000,507.95,29.660050,47.371606,34961.309280,38,hotmail.com,detrator

Quantos investidores investiram mais de 16000 no Ativo04 e menos de 5000 no Ativo05?

In [90]:
df_novo2.loc[df_novo2['Ativo04'] > 16000 ].loc[df_novo2['Ativo05'] < 5000]

,Índice,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,...,Ativo04,Ativo05,Ativo06,Ativo07,Nota1,Nota2,Total,Média,Dominio,NPS
9,id0000010,Quirino Max dos Santos,Masculino,1974-02-08,47,patrick65@yahoo.com,"(Decimal('37.9226295'), Decimal('30.582043'))",Air broker,RR,801.24,...,21298.94,4818.91,2027.570000,500.59,53.824813,10.415551,38033.850000,32,yahoo.com,detrator
15,id0000016,Sílvio Baltazar da Costa dos Santos,Masculino,1989-07-01,32,carterashley@yahoo.com,"(Decimal('-45.978957'), Decimal('-21.700752'))",Curator,MG,6.89,...,19114.69,4207.58,2231.580000,497.45,94.645555,60.630805,35414.700000,77,yahoo.com,neutro
35,id0000036,Helder Furnyrawo de Paula,Masculino,1978-03-02,43,veronicaarellano@yahoo.com,"(Decimal('63.353283'), Decimal('-155.687315'))",Further education lecturer,PR,6.37,...,21979.34,4157.66,2321.031421,491.15,0.163430,50.487457,39338.311421,25,yahoo.com,detrator
44,id0000045,Samara Irnocliza,Feminino,2009-12-08,12,nathan55@gmail.com,"(Decimal('-7.048226'), Decimal('-155.127318'))",Holiday representative,PR,54.49,...,16512.83,4425.03,2059.610000,493.57,73.559211,52.859882,32640.943544,63,gmail.com,neutro
79,id0000080,Zeca Fatomcry,Masculino,2004-04-25,17,sherrimunoz@gmail.com,"(Decimal('-9.862870'), Decimal('-79.385522'))",General practice doctor,ES,431.53,...,24183.18,4439.24,2208.410000,511.99,9.477874,56.339586,41114.704047,32,gmail.com,detrator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38722,id0038723,Anderson Sosdro de Trindade,Masculino,1985-12-19,36,johnalvarado@gmail.com,"(Decimal('-56.949242'), Decimal('-97.476435'))",Adult nurse,PI,5335.62,...,20651.14,4462.57,2095.310000,497.98,98.730645,54.370547,37016.333544,76,gmail.com,neutro
38730,id0038731,Sérgio Luigi de Cabral da Cruz,Masculino,2020-11-23,1,luis48@hotmail.com,"(Decimal('-46.9546995'), Decimal('-99.211209'))",Soil scientist,DF,16.29,...,16288.00,4584.91,2082.760000,502.26,26.959960,19.850953,32884.318281,23,hotmail.com,detrator
38738,id0038739,Celina Faeima,Feminino,1981-12-04,40,garyluna@gmail.com,"(Decimal('44.091570'), Decimal('73.962037'))","Conservation officer, nature",AP,63.99,...,17078.58,4830.44,2321.031421,500.59,0.396150,52.045951,34545.091421,26,gmail.com,detrator
38741,id0038742,Érica Suzy Raeoã,Feminino,2000-06-01,21,elizabethrobinson@gmail.com,"(Decimal('2.8160925'), Decimal('-49.085082'))",Energy engineer,AL,14.35,...,17170.42,4283.66,2321.362143,501.33,93.844274,50.075481,33252.092143,71,gmail.com,neutro
38748,id0038749,Martin Mike Ocai,Masculino,1988-11-29,33,walshshelley@yahoo.com,"(Decimal('-7.399055'), Decimal('125.807816'))",Ranger/warden,MT,7172.41,...,17341.08,4866.52,2049.560000,498.69,52.664288,73.101865,33625.594047,62,yahoo.com,neutro

Quais investidores do sexo feminino tem mais de 25 anos e seu investimento total foi menor que 10000?

In [91]:
df_fem.loc[df_fem['Idade'] > 25].loc[df_fem['Total'] < 10000]

Empty DataFrame
Columns: [Índice, Nome, Sexo, Nasc, Idade, Email, Lat_long, Job, Estado, Renda, Perfil, Ativo01, Ativo02, Ativo03, Ativo04, Ativo05, Ativo06, Ativo07, Nota1, Nota2, Total, Média, Dominio, NPS]
Index: []

[0 rows x 24 columns]

Quantos investidores tem em cada estado (dica: use groupby)

In [102]:
df_novo2.groupby('Estado').agg({'Estado':'count'})

        Estado
Estado
AC        1435
AL        1376
AM        1495
AP        1438
BA        1484
CE        1465
DF        1470
ES        1472
GO        1394
MA        1454
MG        1407
MS        1436
MT        1390
PA        1421
PB        1405
PE        1477
PI        1503
PR        1371
RJ        1466
RN        1472
RO        1440
RR        1495
RS        1393
SC        1430
SE        1319
SP        1464
TO        1382

Qual é a soma do total investido por cada estado?

In [100]:
df_novo2.groupby('Estado').agg({'Total':'sum'})

               Total
Estado
AC      4.674985e+07
AL      4.501931e+07
AM      4.886444e+07
AP      4.704521e+07
BA      4.823423e+07
CE      4.779125e+07
DF      4.844561e+07
ES      4.802692e+07
GO      4.594628e+07
MA      4.727332e+07
MG      4.568168e+07
MS      4.719181e+07
MT      4.570453e+07
PA      4.657696e+07
PB      4.606147e+07
PE      4.785101e+07
PI      4.929435e+07
PR      4.465534e+07
RJ      4.811225e+07
RN      4.806196e+07
RO      4.668877e+07
RR      4.880889e+07
RS      4.536568e+07
SC      4.674451e+07
SE      4.337527e+07
SP      4.749646e+07
TO      4.515521e+07

Qual é a média do total investido por promotores, detratores e neutros? E como se dividem nos estados

In [114]:
df_novo2.groupby(['Estado','NPS']).agg({'Total':'mean'})

                        Total
Estado NPS
AC     detrator  32623.350848
       neutro    32401.142484
       promotor  33335.873056
AL     detrator  32702.623150
       neutro    32723.871931
...                       ...
SP     neutro    32406.563762
       promotor  32400.154825
TO     detrator  32532.562615
       neutro    32908.988347
       promotor  32363.448275

[81 rows x 1 columns]

Crie 3 colunas "dummies" do perfil dos investidores

In [115]:
df_novo2[['Conservador','Moderado','Agressivo']] = pd.get_dummies(df_novo2['NPS'])

In [116]:
df_novo2

,Índice,Nome,Sexo,Nasc,Idade,Email,Lat_long,Job,Estado,Renda,...,Ativo07,Nota1,Nota2,Total,Média,Dominio,NPS,Conservador,Moderado,Agressivo
0,id0000001,Eunice Hellen do Vale,Feminino,1970-11-12,51,djones@yahoo.com,"(Decimal('24.7024355'), Decimal('-28.038258'))",Technical author,TO,63.67,...,480.72,79.600372,9.802620,31234.776561,44,yahoo.com,detrator,1,0,0
1,id0000002,Sebastião Castelo Branco Júnior,Masculino,2019-12-10,2,barnesandrea@yahoo.com,"(Decimal('21.8589875'), Decimal('122.830566'))","Biochemist, clinical",DF,21.96,...,504.17,44.406893,90.512871,33772.586561,67,yahoo.com,neutro,0,1,0
2,id0000003,Romildo Fábio de Carvalho,Masculino,2015-12-28,6,walkermichael@yahoo.com,"(Decimal('-28.2161525'), Decimal('97.140529'))","Development worker, international aid",DF,62497.64,...,523.12,44.020024,65.060941,32759.398560,54,yahoo.com,neutro,0,1,0
3,id0000004,Lana Albina de Lemos Mumy,Feminino,1993-05-03,28,cobbangela@hotmail.com,"(Decimal('-40.8557635'), Decimal('-2.936099'))",Estate manager/land agent,DF,99878.74,...,486.05,25.597924,86.548918,34092.154845,56,hotmail.com,neutro,0,1,0
4,id0000005,Rose Elisângela Vyrnium de Moura,Feminino,1984-06-10,37,crawfordcraig@yahoo.com,"(Decimal('-20.2620885'), Decimal('104.349223'))",Chartered public finance accountant,MS,188.01,...,512.98,14.463307,33.566292,50981.210000,24,yahoo.com,detrator,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38749,id0038750,Beatriz Maísa de Miranda Milani,Feminino,1999-02-20,22,mark47@gmail.com,"(Decimal('-23.8494875'), Decimal('-91.561304'))",Further education lecturer,RS,4993.49,...,489.76,66.644257,6.462871,26127.124955,36,gmail.com,detrator,1,0,0
38750,id0038751,Juan dos Santos,Masculino,1999-07-10,22,greggnguyen@hotmail.com,"(Decimal('-7.8876355'), Decimal('155.835880'))",Adult guidance worker,PI,41218.63,...,496.02,96.987294,72.333030,28532.990000,84,hotmail.com,promotor,0,0,1
38751,id0038752,Severino Edson de Viana Loase,Masculino,1981-12-01,40,cindy11@yahoo.com,"(Decimal('-52.1338005'), Decimal('-59.715325'))",Arts development officer,PR,32.41,...,504.32,32.139610,22.742974,34639.718560,27,yahoo.com,detrator,1,0,0
38752,id0038753,Kim Mooshi,Masculino,1999-12-06,22,mcdonaldmario@gmail.com,"(Decimal('-81.2874995'), Decimal('-28.805800'))",Production manager,RJ,914.52,...,500.65,98.385080,56.611838,32039.903089,77,gmail.com,neutro,0,1,0
38753,id0038754,Vinícius Arnaldo de Pereira Mendes,Masculino,2003-09-13,18,omartinez@hotmail.com,"(Decimal('-37.248521'), Decimal('6.033254'))",Pension scheme manager,AL,29076.19,...,507.95,29.660050,47.371606,34961.309280,38,hotmail.com,detrator,1,0,0

Crie uma tabela com total de investimentos de promotores, detratores e neutros em função do perfil. (dica: use pivot_table)

In [120]:
import numpy as np
pd.pivot_table(df_novo2, index='Perfil', columns='NPS', values=['Conservador', 'Moderado', 'Agressivo'], aggfunc=np.sum)

            Agressivo                 Conservador                 Moderado  \
NPS          detrator neutro promotor    detrator neutro promotor detrator
Perfil
Agressivo         0.0    0.0    933.0      6779.0    0.0      0.0      0.0
Conservador       0.0    0.0    856.0      6863.0    0.0      0.0      0.0
Moderado          0.0    0.0    914.0      6727.0    0.0      0.0      0.0


NPS          neutro promotor
Perfil
Agressivo    5263.0      0.0
Conservador  5160.0      0.0
Moderado     5259.0      0.0